@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-var.woff2') format('woff2');
     
}

:root {
    --primaryColor: #de0f31;
    --blackColor: #000000;
    --whiteColor: #ffffff;
    --grayColor: #a6a6a6;
    --ashyBlackColor: #10110e;
    --primaryColor40P: rgba(222, 15, 49, 0.4);
    --blackColor10P: rgba(0, 0, 0, 0.1);
    --whiteColor20P: rgba(255, 255, 255, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Arial, sans-serif;
    background: var(--ashyBlackColor);
    color: var(--whiteColor);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 24px;
}

.thankyou-card {
    background: var(--blackColor);
    border: 3px solid var(--whiteColor20P);
    padding: 64px 48px;

    width: 100%;
    max-width: 500px;

    text-align: center;
}

h1 {
    color: var(--whiteColor);
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    color: var(--grayColor);
    font-size: 16px;
    margin-bottom: 32px;
}



.btn {

    padding: 10px 30px;
    border: 1px solid var(--primaryColor);

    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;

    /* transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease; */
    transition: all 0.3s ease;

    background: linear-gradient(150deg, var(--blackColor), var(--primaryColor));
    color: var(--whiteColor);
}

@media (max-width: 576px) {
    .thankyou-card {
        padding: 48px 32px;
    }

}

@media (max-width: 400px) {
    .thankyou-card {
        padding: 32px 16px;
    }

    .btn {
        width: 100%;
    }
}